body {
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif
}

.grid {
    position: relative;
}

.item {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    line-height: 200px;
    margin: 5px;
    z-index: 1;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

.writers {
    background: #23d160;
}

.writer-body {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #ffffff;
}

.title {
    font-weight: 400px;
    font-size: 2.5rem;
} 

.secondLayout {
    margin: 50px 5px;
    border: 2px solid #f5f5f5;
}

#submitBtn {
    padding: 10px;
    color: #ffffff;
    background: green;
}